!!! 5
html
	head
		title= title
		link(rel="stylesheet", type="text/css", href="/styles/style.css")
		script(type="text/javascript", src="/js/lib/jquery-1.7.min.js")		
		script(type="text/javascript", src="/socket.io/socket.io.js")		
		script(type="text/javascript", src="/js/webchat/webchat.js")
		script(type="text/javascript", src="/js/webchat/util/functions.js")
		script(type="text/javascript", src="/js/webchat/sockets/io.js")
		script(type="text/javascript", src="/js/webchat/login/register.js")
		script(type="text/javascript", src="/js/webchat/login/login.js")
		script(type="text/javascript")
			jQuery(document).ready(function(){
				webchat.startup();
			});	
	body
		.regtitle
			.loginbar
				a.logo(title="Go to Web Chat Home", href="/") Pebble Beach Web Chat
				.login_container
					form(id="login_form", name="login_form", action="/login", method="post", onsubmit="return webchat.login.login.checkInput(this);")
						table
							tr
								td.label
									label(for="email") Email
								td.label
									label(for="password") Password
							tr
								td
									input.inputtext(type="text", name="email", tabindex=1)
								td 
									input.inputtext(type="password", name="password", tabindex=2)
								td
									label.uiButton(for="loginsubmit")
										input.submit(type="submit", value="Log In", id="loginsubmit", tabindex=4)
							tr
								td
									input.label_checkbox(type="checkbox", name="persistent", value="1", id="persistent_checkbox", tabindex=3, onchange="this.value=(this.checked ? 1 : 0)")
									label.forcheckbox(for="persistent_checkbox") Keep me logged in
								td
									a(href="/recover", rel="nofollow") Forgot your password?
						.loginWarning Email should not be blank!
		.regbody
			.regcon
				.regleft
					p Latest News
				.regright
					.signheader
						.signtitle Sign Up
						.signsubtitle Free and always be.
					form.registerform(id="register_form", name="register_form", action="/register", method="post", onsubmit="return webchat.login.register.checkInput(this);")
						.newitem
							.title Your Email:
							.content
								input.reginput(type="text", name="email")
								span.need *
								.emailWarning Email should not be blank.
						.newitem
							.title Password:
							.content
								input.reginput(type="password", name="password")
								span.need *
								.passWarning Password should not be blank.
						.newitem
							.title Confirm Password:
							.content
								input.reginput(type="password", name="confirmpassword")
								span.need *
								.confirmpassWarning Confirm password should not be blank.
						.newitem
							.title Nickname:
							.content
								input.reginput(type="text", name="nickname")
								span.need *
								.nicknameWarning Nickname should not be blank.
						.regbtn
							label.uiButton(for="regsubmitbtn")
								input(type="submit", value="Sign Up", id="regsubmitbtn")
					//p Latest new user
					//table
					//	tr
					//		th Username
					//		th Join time
					//	tr
					//		td Walt Ouyang
					//		td 2012.02.22
		include includes/footer
			