!!! 5
	html
		title= title
		link(rel="stylesheet", type="text/css", media="screen", href="/styles/style.css")
		script(type="text/javascripte", src="/js/webchat.js")
	body
		header .header
		.body != body
		footer .footer
		