body {
	font-size: 100%;
	color: #333;
	margin: 0;
}
a{
	text-decoration: none;
}

.regtitle{
	background-color: #3B5998;
	height: 82px;
	min-width: 960px;
	padding-top: 10px;	
}

.regtitle .loginbar{
	width: 960px;
	margin: 0 auto;
}

.regtitle .loginbar .logo{
	font-size: 30px;
	color: white;
	float: left;
	vertical-align: bottom;
	margin-bottom: 10px;
}

.regtitle .loginbar .login_container{
	float: right;
	width: 400px;	
}

.regtitle .loginbar .login_container table{
	border: none;	
}

.regtitle .loginbar .login_container table tr{
	vertical-align: top;
}

.regtitle .loginbar .login_container table tr td{
	padding: 0;
}

.regtitle .loginbar .login_container table tr td label{
	color: white;
	font-size: 11px;	
}

.regtitle .loginbar .login_container table tr td label.uiButton{
	background: #0E385F;
	border: solid 1px #333333;
	padding: 5px 6px;
	border-radius: 3px;
	cursor: pointer;
}

.regtitle .loginbar .login_container table tr td label.forcheckbox{
	color: #98A9CA;
	cursor: pointer;
}

.regtitle .loginbar .login_container table tr td a{
	color: #98A9CA;
	font-size: 11px;
}

.regtitle .loginbar .login_container table tr td .inputtext{
	width: 142px;
	margin: 0;
	color: #999999;
	border: 1px solid;
	padding: 0 2px 0 2px;
	height: 22px;
	margin-right: 5px;
}

.regtitle .loginbar .login_container table tr td .label_checkbox{
	float: left;
	color:#999999;
}

.regbody{
	background-color: #D3D8E8;
}

.regcon{
	width: 960px;
	min-height: 400px;
	margin: 0 auto;
	color: #666;
	padding-top: 15px;
}

.regcon .regleft{
	width: 560px;
	float: left;	
	min-height: 400px;
	position: relative;
}

.regcon .regright{
	float: left;
	width: 400px;
	padding-top: 20px;
}

.regright .signheader{
	width: 380px;
	border-bottom: solid 1px #9AAFCA;
	color: #0E385F;
	padding: 10px;
}

.regright .signheader .signtitle{
	font-size: 18px;
	font-weight: bold;
}

.regright .signheader .signsubtitle{
	margin-top: 5px;
	font-size: 15px;
}

.regright .registerform{
	color: #0E385F;
	padding-top: 10px;
}

.regright .newitem{
	overflow: hidden;
	zoom: 1;
	clear: both;
}

.regright .newitem .title{
	font-size: 14px;
	width: 120px;
	line-height: 40px;
	height: 40px;
	float: left;
	text-align: right;
}

.regright .newitem .content{
	float: left;
	padding-left: 10px;
	display: inline;
	margin-right: 10px;
}

.regright .newitem .content .reginput{
	width: 240px;
	height: 30px;
	border: 1px solid #96a6c5;
	padding: 0 2px 0 2px;
}

.regright .newitem .content .need{
	color: red;
	margin-left: 5px;
}

.regright .newitem .content .emailWarning,
.regright .newitem .content .passWarning,
.regright .newitem .content .confirmpassWarning,
.regright .newitem .content .nicknameWarning{
	display: none;
	margin: 2px 0;
	color: red;
}

.regright .regbtn{
	padding: 10px 0 10px 130px;
}

.regright .regbtn label{
	width: 50px;
	height: 30px;
	background-color: #69A74E;
	border: 1px solid #3B6E22;	
	padding: 4px 10px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 5px 5px #69A74E;
	-webkit-box-shadow: 2px 2px #676;
}

.regright .regbtn a.btnbig{
	height: 50px;
	width: 155px;
	margin: 0 auto;
}

.footer{
	position: relative;
	margin: 0 auto;
	background-color: white;
	min-height: 40px;
}

.uiButton .uiButtonText,
.uiButton input{
	background: none;
	border: 0;
	cursor: pointer;	
	white-space: nowrap;	
	font-weight: bold;
	color: white;
	display: inline-block;	
}

.loginWarning{	
	border: 1px solid #333333;
	position: absolute;
	top: 60px;
	display: none;
	background-color: #667766;
}
