body {
	font-size: 100%;
	color: #333;
	margin: 0;
}

.regbody{
	background-color: #D3D8E8;
}

.regv1{	
	margin: 0 auto;
	min-height: 600px;
	clear: both;
	position: relative;
}

.regtitle{
	background-color: #3B5998;
	height: 82px;
	min-width: 960px;
	padding-top: 10px;	
}

.regtitle .loginbar{
	width: 960px;
	margin: 0 auto;
}

.regtitle .loginbar .logo{
	font-size: 30px;
	color: white;
	float: left;
	vertical-align: bottom;
	margin-bottom: 10px;
}

.regtitle .loginbar .login_container{
	float: right;
}

.regtitle .loginbar .login_container table{
	border: none;	
}

.regtitle .loginbar .login_container table tr{
	vertical-align: top;
}

.regtitle .loginbar .login_container table tr td{
	padding: 0;
}

.regtitle .loginbar .login_container table tr td label{
	color: white;
}

.regtitle .loginbar .login_container table tr td a{
	color: #999999;
}

.regtitle .loginbar .login_container table tr td .inputtext{
	width: 142px;
	margin: 0;
	color: #999999;
	border: 1px solid;
	padding: 0 2px 0 2px;
	line-height: 20px;
}

.regtitle .loginbar .login_container table tr td .label_checkbox{
	float: left;
	color:#999999;
}

.regcon{
	width: 960px;
	min-height: 400px;
	margin: 0 auto;
	color: #666;
	padding-top: 15px;
}

.regcon .regleft{
	width: 590px;
	float: left;
	border-right: 1px solid #ECECEC;
	min-height: 400px;
	position: relative;
}

.regleft .newitem{
	overflow: hidden;
	zoom: 1;
	clear: both;
}

.regleft .newitem .title{
	font-size: 14px;
	width: 120px;
	line-height: 40px;
	height: 50px;
	float: left;
	text-align: right;
}

.regleft .newitem .content{
	float: left;
	padding-left: 10px;
	display: inline;
	width: 420px;
	margin-right: 10px;
}

.regleft .newitem .content .reginput{
	width: 400px;
	color: #999999;
	line-height: 30px;
	border: 1px solid #96a6c5;
	padding: 0 2px 0 2px;
}

.regleft .newitem .content .need{
	color: red;
	margin-left: 5px;
}

.regleft .regbtn{
	padding: 10px 0 10px 150px;
}

.regleft .regbtn a.btnbig{
	height: 50px;
	width: 155px;
	margin: 0 auto;
}

.regcon .regright{
	float: left;
	width: 170px;
	padding-left: 20px;
}

.regfooter{
	width: 780px;
	background: url("../images/reg_footbg.gif") center bottom no-repeat;
	color: #999;
	overflow: hidden;
}

.footer{
	position: relative;
	margin: 0 auto;
	width: 800px;	
}
